<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- IIS: overrides DefaultConnection when hosting behind IIS (environment variable). -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore
        processPath="dotnet"
        arguments=".\HrmsH.Api.dll"
        stdoutLogEnabled="false"
        stdoutLogFile=".\logs\stdout"
        hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable
            name="ConnectionStrings__DefaultConnection"
            value="Server=192.168.1.110,1433;Database=HRMSH;User Id=asulejmani;Password=Adminafa1;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=true" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
